<head>
      <title>myLittleShop</title>
      <meta charset="utf-8"/>
      
      <!--Font family-->
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
      
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      
      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      
      <!-- Latest compiled JavaScript -->
      <script src="js/bootstrap.min.js"></script>
      
      <!--PencilStudio CSS-->
      <link rel="stylesheet" type="text/css" href="css/main.css">

      <!-- Mobile display -->
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!--Loader javascript-->
      <script src="js/main.js"></script>
      <script src="js/Chart.bundle.js"></script>
      

</head>