<div class="left-sidebar">
		 	<!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                    	<li class="nav-devider"></li>
                        <li class="nav-label">Home</li>
                        <li> <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Dashboard</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="index1.html">Analytics </a></li>
                                <li><a href="/inventory">Inventory</a></li>
                            </ul>
                        </li>
                    	<li class="nav-label">Apps</li>
                    		<li> <a class="has-arrow" href="/Employee" aria-expanded="false"><i class="fa fa-shopping-cart"></i><span class="hide-menu">Checkout</span></a></li>
                        	<li> <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-bar-chart"></i><span class="hide-menu">Charts</span></a>
	                            <ul aria-expanded="false" class="collapse">
	                                <li><a href="chart-flot.html">Flot</a></li>
	                                <li><a href="chart-morris.html">Morris</a></li>
	                                <li><a href="chart-chartjs.html">ChartJs</a></li>
	                                <li><a href="chart-chartist.html">Chartist </a></li>
	                                <li><a href="chart-amchart.html">AmChart</a></li>
	                                <li><a href="chart-echart.html">EChart</a></li>
	                                <li><a href="chart-sparkline.html">Sparkline</a></li>
	                                <li><a href="chart-peity.html">Peity</a></li>
	                            </ul>
                        	</li>
                        <li class="nav-label">Manage</li>
                        	<li><a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-user-circle"></i><span class="hide-menu">Employee</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="/signup">Add Employee</a></li>
                                    <li><a href="/profile">Edit Employee</a></li>
                                </ul>
                            </li>
                        	<li><a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-product-hunt"></i><span class="hide-menu">Product</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="/addp">Add Product</a></li>
                                    <li><a href="/rmp">Remove Product</a></li>
                                </ul>
                            </li>

                    </ul>   
                </nav>
            </div>
</div>