<div class="left-sidebar">
		 	<!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                    	<li class="nav-devider"></li>
                        <li class="nav-label">Home</li>
                        <li> <a class="has-arrow" href="/home" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Dashboard</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="index1.html">Analytics </a></li>
                                <li><a href="/inventory">Inventory</a></li>
                            </ul>
                        </li>
                    	<li class="nav-label">Apps</li>
                    		<li> <a class="has-arrow" href="/app" aria-expanded="false"><i class="fa fa-shopping-cart"></i><span class="hide-menu">Checkout</span></a></li>
                        	<li> <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-bar-chart"></i><span class="hide-menu">Charts</span></a>
	                            <ul aria-expanded="false" class="collapse">
                                    <li><a href="/bar-chart">Bar Chart</a></li>
                                    <li><a href="/pie-chart">Pie Chart</a></li>
                                    <li><a href="/polar-area-chart">Polar Area Chart</a></li>
	                            </ul>
                        	</li>
                        <li class="nav-label">Manage</li>
                        	<li><a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-user-circle"></i><span class="hide-menu">Employee</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="/signup">Add Employee</a></li>
                                    <li><a href="/profile">Edit Employee</a></li>
                                </ul>
                            </li>
                        	<li><a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-product-hunt"></i><span class="hide-menu">Product</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="/additem">Add Product</a></li>
                                    <li><a href="/rmp">Remove Product</a></li>
                                </ul>
                            </li>

                    </ul>   
                </nav>
            </div>
</div>

