<html ng-app="itemLMS">
        <head>
            <% include partials/header %>
            <link rel="stylesheet" type="text/css" href="/css/login.css">
        
            <!-- Angular controller -->
            <script src="/js/angular.min.js"></script>
            <script src="/js/controllers/itemController.js"></script>
            <script src="/js/services/item.js"></script>
            <script src="/js/cores/itemcore.js"></script>
        
            <link rel="stylesheet" type="text/css" href="/css/login.css">	
        </head>
        <body ng-controller="mainController">
        <% include partials/nav %>
        <div class="login-page">
            <div class="form">
                <h3>Add Item</h3><br>
                 <form class="register-form" >
                      <input type="text" name="productID" ng-model="item.productID" placeholder="productID"/>   
                      <input type="text" name="productName" ng-model="item.productName" placeholder="productName"/>
                      <input type="text" name="price" ng-model="item.price" placeholder="price" />
                      <button ng-click="createItem()">create</button>
                      <!-- <h1>{{data}}</h1> -->
                    </form>
            </div>
        </div>
        </body>
</html>