<!DOCTYPE html>
<html ng-app="chartLMS">
<head>
	<% include partials/header %>
	<% include partials/customh %>
	<link rel="stylesheet" type="text/css" href="/css/login.css">	

	<!-- Latest compiled JavaScript -->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

	<!-- Angular controller -->
	<script src="/js/controllers/productController.js"></script>
	<script src="/js/services/product.js"></script>
	<script src="/js/productcore.js"></script>

	<!-- chart library -->
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>	 
</head>
<body ng-controller="mainController" class="fix-header fix-sidebar">
	<div id="main-wrapper">

		<% include partials/nav %>

		<% include partials/sidebar %>		

		<div class="page-wrapper limiter">
			<div id="product-list" class="container-table">
				<ul>
					<h1>{{withdraw}}</h1>
					<h1>{{deposit}}</h1>
					<li ng-repeat="product in products">
						<h1>{{product.name}}</h1> <button ng-click="setID(product._id)"></button>
						<div class="wrap-table">
								<table id="table">
									<thead>
										<tr class="row">
											<th class="column02">Product ID</th>
											<th class="column02">Product Name</th>
											<th class="column02">Qty In Stock</th>
											<!-- <th class="column02">Update</th> -->
											<th class="column02">Delete</th>
											<!-- <th class="column">Time Stamp</th> -->
										</tr>
									</thead>
									<!-- LOOP OVER THE USERS IN $scope.users -->
									<tbody>
										<tr ng-repeat="item in product.item" class="row">
										<td class="column02">{{item.productID}}</td>
										<td class="column02"><input type="text" ng-model="item.productName" placeholder="{{item.productName}}"></td>
										<td class="column02">
											{{$parent.$index}}
											<!-- <input type="text" ng-model="item.quantity_in_stock" placeholder="{{item.quantity_in_stock}}"> -->
											{{(item.qty_init-withdraw[counter][item.productID]+deposit[$parent.$index][item.productID])}}
										</td>                		
										<!-- <td class="column02"><input type="button" value="update" ng-click="updateShop(product._id,product)" class="btn-danger"></td> -->
										<td class="column02"><input type="button" value="delete" ng-click="deleteShop(item._id,product._id,product)" class="btn-danger"></td>
										<!-- <td class="column">{{product.timestamp}}</td> -->
									</tr>
									</tbody>
									
								</table>
								
							</div>
					</li>
				</ul>
				<div class="form">
					<h4>Enter shop name:</h4>
					<input type="text" name="name" ng-model="data.name">
					<input type="button" class="btn btn-danger" ng-click="createShop()" value="createShop">
					<button class="btn btn-success"><a href='/additemtoshop'>AddItemToShop</a></button>
				</divs>
				<!-- <h1>{{data.name}}</h1> -->

	        </div>
		</div>
	</div>
</body>

<% include partials/footer %>

</html>