<!DOCTYPE html>
<html ng-app="checkout">
<head>
    <% include partials/header %>
    <% include partials/customh %>
  <link rel="stylesheet" type="text/css" href="/css/employee.css">
  <!-- Latest compiled JavaScript -->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

	<!-- Angular controller -->
	<script src="/js/angular.min.js"></script>
	<script src="/js/controllers/checkoutController.js"></script>
	<script src="/js/services/checkout.js"></script>
	<script src="/js/cores/checkoutcore.js"></script>
</head>
<body class="fix-header fix-sidebar" ng-controller="mainController" ng-init="init('<%= shopName %>')">
  
  <!-- /* Start of Main Wrapper Div */ -->
  <div id="main-wrapper">
    <% include partials/nav %>
    <% include partials/sidebar %>
    <div class="page-wrapper">
    <!-- Bread crumb -->
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h3 class="text-primary">Checkout</h3>
      </div>
      <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/home">Home</a>
          </li>
          <li class="breadcrumb-item active"><%- shopName %></li>
        </ol>
      </div>
    </div>
    <!-- End Bread crumb -->    
    <div class="row bg-white m-l-0 m-r-0 box-shadow ">
      <div class="col-lg-8"> <!--  Left Column -->
        <div class="table-responsive" style="height:512px;overflow:auto;">
          <table class="table table-primary" id="salesTable">
            <thead id="table-head">
              <tr>
                <th scope="col">#</th>
                <th scope="col" id="barcode">Item ID</th>
                <th scope="col">Item Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Item Price</th>
              </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data" >
                <td scope="col">{{$index}}</td>
                <td scope="col">{{item.productID}}</td>
                <td scope="col">{{item.productName}}</td>
                <td scope="col">{{item.quantity}}</td>	                		
                <td scope="col">{{item.price}}</td>
                <!-- <td class="column">{{product.timestamp}}</td> -->
              </tr>
              </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-4"> <!-- Middle Column -->
        <!--  Right Table for Checkout Data -->
        <table class="table" id="rightTable">
          <tr>
            <th scope="col">SubTotal</th>
            <td scope="col" id="sub_total" ng-model="subTotal">{{subTotal}}</td>
          </tr>
          <tr>
            <th scope="col">Promotion</th>
            <td scope="col" id="promotion" ng-model="promotion">{{promotion*100}}</td>
          </tr>
          <tr>
            <th scope="col">Tax</th>
            <td scope="col" id="tax">{{Tax}}</td>
          </tr>
          <tr>
            <th scope="col">Item ID</th>
            <td scope="col">
              <input type="text" id="item_id" ng-model="item_id">
            </td>
          </tr>
          <tr>
            <th scope="col">Quantity</th>
            <td scope="col">
              <input type="text" name="quantity" id="quantity" ng-model="item_qty">
              </td>
          </tr>
          <tr>
            <th scope="col">Total</th>
            <td scope="col" id="sum">{{Total}} </td>
          </tr>
        </table>
         <!-- Table for Buttons  -->
        <table class="table" id="rightTable">
          <tbody>
            <tr>
              <th>
                <button type="button" class="btn" id="add_btn" ng-click="addFunc()">Add Item</button>
              </th>
              <th>
                <button type="button" class="btn promBtn" ng-click="promFunc(0.1)">10%</button>
              </th>
            </tr>
            <tr>
              <th>
                <button type="button" class="btn" id="scan_btn">Scan Barcode</button>
              </th>
              <th>
                <button type="button" class="btn promBtn" ng-click="promFunc(0.2)">20%</button>
              </th>
            </tr>
            <tr>
              <th>
                <button class="btn" id="voucher_btn" ><a href="/app">Reset</a></button>
              </th>
              <th>
                <button type="button" class="btn promBtn" ng-click="promFunc(0.5)">50%</button>
              </th>
            </tr>
            <tr>
              <td colspan="2" rowspan="2">
                <button type="button" class="btn" id="pay_btn" ng-click="payFunc()">Pay</button>                
              </td>
            </tr>          
          </tbody>
        </table>
        
      </div>
    </div>    
    </div>

  </div>
  /* End of Main Wraper Div */
  
  <!-- Modal for Camera-->
  <div id="camModal" class="modal " role="dialog">
    <div class="modal-dialog">    
      <div class="modal-content">
        <div class="modal-body">
          <div id="scanner-container"></div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="webcamBtn" >Close</button>
      </div>
      </div>
    </div>
  </div> <!-- End of Modal for Camera -->  
  <% include partials/footer %>
                                 
  <script type="text/javascript" src="/js/scanner.js" ></script>
  <script src="/js/quagga.min.js"></script>
</body>
