<!DOCTYPE html>
<html ng-app="dashboard">
<head>
    <% include partials/header %>
    <% include partials/customh %>
    <link rel="stylesheet" type="text/css" href="/css/employee.css">

    <!-- Latest compiled JavaScript -->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    
	<!-- Angular controller -->
	<script src="/js/controllers/dashboardController.js"></script>
	<script src="/js/services/dashboard.js"></script>
	<script src="/js/cores/dashboardcore.js"></script>

    <script src="/js/lib/chart.js"></script>
    <script src="/js/lib/angular-chart.min.js"></script>
</head>

<body class="fix-header fix-sidebar" ng-controller="mainController" ng-init="init()">
	<div id="main-wrapper">

		<% include partials/nav %>

		<% include partials/sidebar %>		

		<div class="page-wrapper">
			<!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Dashboard</h3> </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb --> 
            
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-usd f-s-40 color-primary"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>{{totalRevenue}}</h2>
                                    <p class="m-b-0">Total Revenue</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-shopping-cart f-s-40 color-success"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>{{totalOrders}}</h2>
                                    <p class="m-b-0">Sales</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-archive f-s-40 color-warning"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>{{totalShop}}</h2>
                                    <p class="m-b-0">Stores</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-user f-s-40 color-danger"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>{{totalEmployee}}</h2>
                                    <p class="m-b-0">Employee</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div> 
			<!-- End Container fluid  -->

			<!-- Chart -->
            <div class="row bg-white m-l-0 m-r-0 box-shadow ">

                    <!-- column -->
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Product Statistics</h4>
                                <div id="extra-area-chart">
                                        <canvas id="line" class="chart chart-line" chart-data="data"
                                        chart-labels="labels" chart-series="series" chart-options="options"
                                        chart-dataset-override="datasetOverride" chart-click="onClick">
                                </canvas>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- column -->

                    <!-- column -->
                    <div class="col-lg-4">
                        <div class="card">
                                <h4 class="card-title">Product Sale</h4>
                            <div class="card-body browser" >
                                <div ng-repeat="item in items ">
                                        <p class="f-w-600">{{item.productName}} <span class="pull-right">{{((withdraw[item.productID])*100/(init[item.productID]+deposit[item.productID]))| number : 2}}%</span></p>
                                        <div class="progress " >
                                            <div role="progressbar" ng-style="{width:(withdraw[item.productID])*100/(init[item.productID]+deposit[item.productID])  +'%'}" class="progress-bar bg-info wow animated progress-animated"> <span class="sr-only">60% Complete</span> </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- column -->
            </div> 
            <!-- End Chart -->
			</div>
    </div>	
    <% include partials/footer %>
</body>