<% layout('layout') %>
<head>
	<link rel="stylesheet" type="text/css" href="/css/login.css">	
</head>
<div class="login-page">
	<div class="form">
		<h3>Login to Your Account</h3><br>
		  <form class="login-form" action="/api/users" method="post">
			<input type="text" name="loguser" placeholder="Username">
			<input type="password" name="logpassword" placeholder="Password">
			<button>Login</button>
		  </form>
	</div>
</div>

<script type="text/javascript" src="/js/login.js"></script>