<% layout('layout') %>
<head>
	<link rel="stylesheet" type="text/css" href="/css/login.css">	
</head>
<div class="login-page">
	<div class="form">
		<h3>Login to Your Account</h3><br>
		  <form class="login-form" action="/" method="post">
			<input type="text" name="loguser" placeholder="Username">
			<input type="password" name="logpassword" placeholder="Password">
			<button>Login</button>
			<p class="message">Not registered? <a href="#">Create an account</a></p>
		  </form>
		  <form class="register-form" action="/" method="post">
		      <input type="text" name="username" placeholder="Username"/>
		      <input type="password" name="password" placeholder="Password"/>
		      <select name="role">
		      	<option value="Boss">Owner</option>
		      	<object value="Osin">Employee</object>
		      </select>
		      <button>Create</button>
		      <p class="message">Already registered? <a href="#">Sign In</a></p>
   		 </form>

	</div>
</div>

<script type="text/javascript" src="/js/login.js"></script>