<!DOCTYPE html>
<html >
<head>
	<% include partials/header %>
	<link rel="stylesheet" type="text/css" href="/css/login.css">

</head>
<body>
	<div class="login-page">
	<div class="form">
		<h3>Login to Your Account</h3><br>
		  <form class="login-form" action="/api/users" method="post">
			<input type="text" name="loguser" placeholder="Username" ng-model="tmp.loguser">
			<input type="password" name="logpassword" placeholder="Password" ng-model="tmp.logpassword">
			<button>Login</button>
		  </form>
	</div>
</div>
</body>
