<!DOCTYPE html>
<html lang="en">
<% include partials/header %>

<body data-spy="scroll" data-target=".navbar" data-offset="60" id="myPage">
  <!-- Navigation bar -->	
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">theLittleShop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#shop1">Shop 1 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#shop2">Shop 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#pieChart">Reports</a>
      </li>
      <!--<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>-->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>

    <!-- Navigation bar -->
</nav>

  <!-- Container (Shop1 Section) -->
  <div id="shop1" class="container-fluid bg-grey">
    <div class="container">
        <div class="row">
        <div class="col">
            <p style="float: left"><img src="images/coca-cola.png" width="100px" height="162px"></p>
            <p> Product: Cola Cola <br>
                Quantity in stock: 5 <br>
                Quantity sold: 5  <br>
                Price: 5 USD
            </p>
        </div>
        <div class="col">
            <p style="float: left"><img src="images/pepsi.png" width="100px" height="162px"></p>
            <p> Product: Pepsi <br>
                Quantity in stock: 5 <br>
                Quantity sold: 12  <br>
                Price: 5 USD
            </p>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <p style="float: left"><img src="images/fanta.png" width="100px" height="162px"></p>
            <p> Product: Fanta <br>
                Quantity in stock: 5 <br>
                Quantity sold: 10  <br>
                Price: 5 USD
            </p>
        </div>
        <div class="col">
            <p style="float: left"><img src="images/mountain_dew.png" width="100px" height="162px"></p>
            <p> Product: Mountain Dew <br>
                Quantity in stock: 5 <br>
                Quantity sold: 3  <br>
                Price: 5 USD
            </p>
        </div>
    </div>
    </div>
  </div>

    <div id="shop2" class="container-fluid bg-grey">
    <div class="container">
        <div class="row">
        <div class="col">
            <p style="float: left"><img src="images/coca-cola.png" width="100px" height="162px"></p>
            <p> Product: Cola Cola <br>
                Quantity in stock: 5 <br>
                Quantity sold: 7  <br>
                Price: 5 USD
            </p>
        </div>
        <div class="col">
            <p style="float: left"><img src="images/pepsi.png" width="100px" height="162px"></p>
            <p> Product: Pepsi <br>
                Quantity in stock: 5 <br>
                Quantity sold: 7  <br>
                Price: 5 USD
            </p>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <p style="float: left"><img src="images/fanta.png" width="100px" height="162px"></p>
            <p> Product: Fanta <br>
                Quantity in stock: 1 <br>
                Quantity sold: 10  <br>
                Price: 5 USD
            </p>
        </div>
        <div class="col">
            <p style="float: left"><img src="images/mountain_dew.png" width="100px" height="162px"></p>
            <p> Product: Mountain Dew <br>
                Quantity in stock: 5 <br>
                Quantity sold: 2  <br>
                Price: 5 USD
            </p>
        </div>
    </div>
    </div>
  </div>

  <!-- Container (Contact Section) -->
  <div id="reports" class="container-fluid bg-grey">
      <div class="container">
        <div class="row">
        <div class="col" id="pieChart">
            <canvas id="myChart" width="100"     height="50"></canvas>
        <script src="js/reports.js">
        </script>

        </div>
        <div class="w-100"></div>
        <div class="col">Column</div>
    </div>
    </div>
  </div>
</body>
</html>
