<!DOCTYPE html>
<html ng-app="chartLMS">
<head>
	<% include partials/header %>
	<% include partials/customh %>

	<!-- Latest compiled JavaScript -->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

	<!-- Angular controller -->
	<script src="/js/controllers/productController.js"></script>
	<script src="/js/services/product.js"></script>
	<script src="/js/productcore.js"></script>

	<!-- chart library -->
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>	 

</head>
<body ng-controller="mainController" class="fix-header fix-sidebar">
	<div id="main-wrapper">

		<% include partials/nav %>

		<% include partials/sidebar %>		

		<div class="page-wrapper limiter">
		<div class="container-fluid">
			<!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                	<h3 id="chart" class="text-primary"> Pie Chart</h3>
                </div>
                <div class="col-md-7 align-self-center">
    
                </div>
            </div>
            <!-- End Bread crumb --> 
			<div id="product-list" class="container-table">				
                <select name="shopName" ng-change="loadChartInfo(value)" ng-model="value" >
					<option ng-repeat="product in products" ng.value="product.name">{{product.name}}</option>					
				</select>
				<input type="button" ng-click="loadChart()" value="loadChart" class="btn btn-success">
                <!-- <h1>{{shopName}}</h1> -->
                <div style="width:100%; height:100%;">
                        <canvas id="myChart"></canvas>				
				</div>
				<h1>{{productNames}}</h1>
				<h1>{{qtyinstock}}</h1>
			</div>
		</div>
		</div>
	</div>
</body>
<% include partials/footer %>
</html>