<% layout('layout') %>
<head>
	<link rel="stylesheet" type="text/css" href="/css/login.css">	
</head>
<div class="login-page">
	<div class="form">
		<h3>Sign up</h3><br>
		 <form class="register-form" action="/" method="post">
		      <input type="text" name="username" placeholder="Username"/>
		      <input type="password" name="password" placeholder="Password"/>
		      <select name="role">
		      	<option value="Boss">Owner</option>
		      	<object value="Osin">Employee</object>
		      </select>
		      <select name="shop">
		      	<option value="1">Shop1</option>
		      	<object value="2">Shop2</object>
		      </select>
		      <button>Create</button>
   		 </form>
	</div>
</div>
