<!DOCTYPE html>
<html ng-app="chartLMS">
<head>
	<% include partials/header %>
	<% include partials/customh %>

	<!-- Latest compiled JavaScript -->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

	<!-- Angular controller -->
	<script src="/js/controllers/chartController.js"></script>
	<script src="/js/services/chart.js"></script>
	<script src="/js/cores/chartcore.js"></script>
	
	<!-- chart library -->
	<script src="/js/lib/chart.js"></script>
    <script src="/js/lib/angular-chart.min.js"></script>	 

</head>
<body ng-controller="mainController" class="fix-header fix-sidebar">
	<div id="main-wrapper">

		<% include partials/nav %>

		<% include partials/sidebar %>		

		<div class="page-wrapper limiter">
				<div class="container-fluid">
					<!-- Bread crumb -->
		            <div class="row page-titles">
		                <div class="col-md-5 align-self-center">
		                	<h3 id="chart" class="text-primary"> Time Chart</h3>
		                </div>
		                <div class="col-md-7 align-self-center">
		    
		                </div>
		            </div>
		            <!-- End Bread crumb --> 
					<div id="product-list" class="container-table">				
						 <form class="form" >
						      <h3>Time start:</h3><input type="date" name="timestart" ng-model="timestart"/>
						      <h3>Time end:</h3><input type="date" name="timeend" ng-model="timeend"/>
						      <button ng-click="loadChart(timestart,timeend)" class="btn btn-success">Create</button>
							</form> 
							
						
						<!-- <h1>{{shopName}}</h1> -->
						<div style="width:100%; height:100%;">
								<canvas id="line" class="chart chart-line" chart-data="data"
                                        chart-labels="labels" chart-series="series" chart-options="options"
                                        chart-dataset-override="datasetOverride" chart-click="onClick">
                                </canvas>
			
						</div>

						<!-- <div ng-repeat="items in itemSelected">
								<ul>Timestamp: {{items.day}}</ul>
								<li>Type: {{items.type}}</li>
								<div ng-repeat="item in items.item">
									<li>ProductID: {{item.productID}}</li>
									<li>quantity: {{item.quantity}}</li>
								</div>
						</div> -->
						<table id="table">
								<thead>
									<tr class="row">
										<th class="column02">Day</th>
										<th class="column02">Type</th>
										<th class="column02">ProductID</th>
										<!-- <th class="column02">Update</th> -->
										<th class="column02">Quantity</th>
										<th class="column02">Shop</th>
										<!-- <th class="column">Time Stamp</th> -->
									</tr>
								</thead>
								<!-- LOOP OVER THE USERS IN $scope.users -->
								<tbody>
									<tr ng-repeat="items in itemSelected" class="row">
									<td >{{items.day}}</td>
									<td >{{items.type}}</td>
									<td class="column02">{{items.productID}}</td>
									<td class="column02">{{items.quantity}}</td>
									<td class="column02">{{items.shop}}</td>
								</tr>
								</tbody>
								
							</table>
						
					</div>
				</div>
		</div>
	</div>
	<% include partials/footer %>
</body>
</html>